html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:darkslategray;
    font-size: 16px;
    line-height: 1.5em;
}

.logo img {
    width: 10em;
}

a {
    color: mediumblue;
    text-decoration: none;
}

.policy> div {
    text-align: justify;
    width: 80%;
    display: inline-block;
    /* margin-top: 1em; */
}

p.important {
    color: crimson;
}

.description>div {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.container {margin-bottom: 2em;}

.description {
    width: 80%;
    display: inline-block;
    margin-top: 3em;
}

.logo {
    /* width: 20%; */
}

.userGuide {
    /* width: 70%; */
    font-size: 1.5em;
    line-height: 1.2em;
}
 

body {
    margin: 0;
}

h1,h2,h3,h4 {
    margin-bottom: 0.5em;
    margin-top: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    padding: 0.3em;
}

.userGuide>p {
    margin: 0;
}

.userGuide>ul {
    margin: 0;
}
.policy ul{
    margin-top:0;
}

h3,h4 {
    text-align: center;
}

h2{
    font-size:2em;
}
h3{
    font-size:1.5em;
}
h4{
    font-size:1.2em;
}
 

p.beforeul {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}
.header h1 {
    margin: 0;
}